---
import { Image } from "astro:assets";
import RedirectArrow from "@/components/svgs/RedirectArrow.astro";
interface Props {
  title: string;
  description: string;
  imagesrc: ImageMetadata;
  imageAlt: string;
  github?: string;
  liveLink?: string;
  tags?: string[];
}
const { title, description, imagesrc, imageAlt, github, liveLink, tags } =
  Astro.props;
---

<div class="project-card" target="_blank">
  <Image src={imagesrc} alt={imageAlt} />
  <div class="project-card__content">
    <h2>
      {title}
    </h2>
    <p class="project-card__description">{description}</p>
    <div class="project-card__tags">
      {tags && tags.map((tag) => <span class="project-card__tag">{tag}</span>)}
    </div>
    <div class="project-card__links">
      {
        github && (
          <a class="project-card__link" href={github}>
            <span class="project-card__link__words">GitHub</span>
            <RedirectArrow class="arrow-icon" />
          </a>
        )
      }

      {
        liveLink && (
          <a class="project-card__link" href={liveLink}>
            <span class="project-card__link__words">Live Site</span>
            <RedirectArrow class="arrow-icon" />
          </a>
        )
      }
    </div>
  </div>
</div>

<style>
  .arrow-icon {
    width: 20px;
    height: 20px;
    /* margin-left: 0rem; */
    transform: translateY(3px);
  }
  .project-card:not(:last-of-type) {
    margin-bottom: 2.5rem;
  }

  .project-card {
    display: flex;
    flex-direction: column;
    color: inherit;
    border: 1px solid rgba(var(--primary-text-value), 0.4);
    border-radius: 20px;
  }
  .project-card img {
    object-fit: cover;
    width: inherit;
    height: 10rem;
    border-radius: 20px;
  }

  .project-card__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 1.4rem;
  }

  .project-card__tag {
    display: inline-block;
    font-size: 0.8rem;
    padding: 4px 10px;
    border: 1px solid rgba(var(--primary-text-value), 0.4);
    border-radius: 20px;
  }
  .project-card__links {
    display: flex;
    gap: 0.8rem;
  }
  .project-card__link {
    color: rgba(var(--primary-text-value), 0.7);
    transition-duration: 500ms;
  }

  .project-card__link__words {
    text-decoration: underline;
    text-underline-offset: 4px;
  }

  .project-card__link:hover {
    color: rgba(var(--primary-text-value), 1);
  }

  .project-card__content {
    padding: 1rem;
  }

  .project-card__description {
    margin-bottom: 1rem;
  }

  .project-card h2 {
    margin-bottom: 0.5rem;
  }

  @media screen and (min-width: 1024px) {
    .arrow-icon {
      fill: rgba(var(--primary-text-value), 0.7);
      transition:
        transform 0.2s ease-in-out,
        opacity 0.5s;
    }

    .project-card__link:hover .arrow-icon {
      fill: rgba(var(--primary-text-value), 1);
      transform: translate(2px, 0px);
    }
  }
</style>
