---
import { Image } from "astro:assets";
import Link from "@/components/Link.astro";

interface Props {
  class?: string;
  title: string;
  description?: string;
  imagesrc: ImageMetadata;
  imageAlt: string;
  github?: string;
  devpost?: string;
  liveLink?: string;
  postLink?: string;
  tags?: string[];
  href?: string;
}
const {
  class: className,
  title,
  description,
  imagesrc,
  imageAlt,
  github,
  devpost,
  liveLink,
  postLink,
  tags,
  href,
  ...rest
} = Astro.props;
---

<div class={`project-card ${className}`} target="_blank" {...rest}>
  {
    href ? (
      <a href={href} aria-label={`Go to ${title}'s project page'`}>
        <Image src={imagesrc} alt={imageAlt} />
      </a>
    ) : (
      <Image src={imagesrc} alt={imageAlt} />
    )
  }
  <div class="project-card__content flow">
    <div class="flow">
      <h3>
        {title}
      </h3>
      {description && <p class="project-card__description">{description}</p>}
    </div>
    <div class="project-card__tags">
      {tags && tags.map((tag) => <small class="project-card__tag">{tag}</small>)}
    </div>
    <div class="project-card__links cluster">
      {github && <Link url={github} name="Source" redirect={true} />}
      {devpost && <Link url={devpost} name="Devpost" redirect={true} />}
      {liveLink && <Link url={liveLink} name="Live Demo" redirect={true} />}
      {postLink && <Link url={postLink} name="Learn More" redirect={false} />}
    </div>
  </div>
</div>

<style>
  .project-card {
    margin-bottom: var(--space-l);
  }

  /* Ensure consistent heading size regardless of heading level */
  .project-card :is(h2, h3, h4) {
    font-size: var(--step-1);
  }

  /* Ensure consistent text size for all non-heading elements */
  .project-card > :not(h2, h3, h4) {
    font-size: var(--step--1);
  }

  .project-card {
    display: flex;
    flex-direction: column;
    color: inherit;
    border: 1px solid rgba(var(--primary-text-value), 0.4);
    border-radius: 20px;
  }
  .project-card img {
    object-fit: cover;
    width: inherit;
    height: 10em;
    border-radius: 20px;
  }

  .project-card a {
    width: 100%;
  }

  .project-card__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: var(--space-m);
  }

  .project-card__tag {
    display: inline-block;
    font-size: var(--step--2);
    padding: 4px 10px;
    border: 1px solid rgba(var(--primary-text-value), 0.4);
    border-radius: 20px;
  }

  .project-card__links {
    display: flex;
    gap: var(--step--1);
  }

  .project-card__link:hover {
    color: rgba(var(--primary-text-value), 1);
  }

  .project-card__content {
    padding: var(--space-s);
  }
</style>
