---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import type { ui, defaultLang } from "@/i18n/ui";

type TranslationKey = keyof (typeof ui)[typeof defaultLang];
import Layout from "@/layouts/Layout.astro";
import AboutSection from "@/components/Sections/AboutSection.astro";
import ExperienceSection from "@/components/Sections/ExperienceSection.astro";
import EducationSection from "@/components/Sections/EducationSection.astro";
import ProjectsSection from "@/components/Sections/ProjectsSection.astro";
import PostsSection from "@/components/Sections/PostsSection.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const sectionComponents = {
  about: AboutSection,
  education: EducationSection,
  experience: ExperienceSection,
  projects: ProjectsSection,
  posts: PostsSection,
};

const myInfo = {
  name: t('header.name'),
  title: t('header.jobTitle'),
  description:
    "I'm passionate about making cool stuff and solving problems, with a background in Psychology from UBC and currently studying Computer Science at BCIT.",
};

// Exclude Posts section from navbar
const navItems = Object.keys(sectionComponents)
  .slice(0, -1)
  .map((item) => {
    return t(`nav.${item}` as TranslationKey);
  });
---

<Layout
  isHome={true}
  title={myInfo.name}
  subtitle={myInfo.title}
  details={myInfo.description}
  navItems={navItems}
>
  {
    Object.keys(sectionComponents).map((section) => {
      const SpecificSectionComponent = sectionComponents[section];
      const sectionName = t(`nav.${section}` as TranslationKey);
      return (
        <section id={sectionName}>
          <h2>{sectionName.slice(0)}</h2>
          {SpecificSectionComponent && <SpecificSectionComponent />}
        </section>
      );
    })
  }
</Layout>

<style>
  section {
    padding-top: 0;
  }

  h2 {
    margin-bottom: var(--space-s);
  }

  @media only screen and (min-width: 1024px) {
    /* h2 { */
    /*     display: none; */
    /* } */
    .section-focus {
      opacity: 1 !important;
    }
  }
</style>
