---
import slugify from "slugify";
import Layout from "@/layouts/Layout.astro";
import AboutSection from "@/components/Sections/AboutSection.astro";
import ExperienceSection from "@/components/Sections/ExperienceSection.astro";
import EducationSection from "@/components/Sections/EducationSection.astro";
import ProjectsSection from "@/components/Sections/ProjectsSection.astro";
import PostsSection from "@/components/Sections/PostsSection.astro";

const sectionComponents = {
  about: AboutSection,
  education: EducationSection,
  experience: ExperienceSection,
  projects: ProjectsSection,
  posts: PostsSection,
};

const myInfo = {
  name: "Jasper Wang",
  title: "Software Developer",
  description:
    "I'm passionate about making cool stuff and solving problems, with a background in Psychology from UBC and currently studying Computer Science at BCIT.",
};

// Excluse Say Hi from navbar
// const navItems = Object.keys(sectionComponents).slice(0, -1);
const navItems = Object.keys(sectionComponents);
---

<Layout
  isHome={true}
  title={myInfo.name}
  subtitle={myInfo.title}
  details={myInfo.description}
  navItems={navItems}
>
  {
    Object.keys(sectionComponents).map((section) => {
      const SpecificSectionComponent = sectionComponents[section];
      return (
        <section id={slugify(section)}>
          <h2>{section.slice(0)}</h2>
          {SpecificSectionComponent && <SpecificSectionComponent />}
        </section>
      );
    })
  }
</Layout>

<style>
  section {
    padding-top: 0;
  }

  h2 {
    margin-bottom: var(--space-s);
  }

  @media only screen and (min-width: 1024px) {
    section {
      scroll-margin-top: 5rem;
      opacity: 0.5;
      transition-duration: 500ms;
    }

    .section-focus {
      opacity: 1 !important;
    }
  }
</style>
